label {
    display: block;
    width: 6em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  
  input {
    width: 21em;
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  