<p-dialog header="{{actionState | uppercase}}" [(visible)]="actionState" [width]="325">
  <form [formGroup]="inputForm" >
    <label>VIN   :</label>
      <input type="text" id="vin" appNoNull name="vin" formControlName="vin"/>
      <br><div style="color: red" *ngIf="!inputForm.controls['vin'].valid && inputForm.controls['vin'].dirty && inputForm.controls['vin']">
        Not Null
      </div>
    <label>BRAND   :</label>
      <input type="text" id="brand" appNoNull name="brand" formControlName="brand"/>
      <br><div style="color: red" *ngIf="!inputForm.controls['brand'].valid && inputForm.controls['brand'].dirty && inputForm.controls['brand']">
        Not Null
      </div>
    <label>YEAR   :</label>
      <input type="text" id="year" appNoNull appNoPattern name="year" formControlName="year"/>
      <br><div style="color: red" *ngIf="!inputForm.controls['year'].valid && inputForm.controls['year'].dirty && inputForm.controls['year']">
        Not Null || Number Only
      </div>
    <label>COLOR   :</label>
      <input type="text" id="color" appNoNull name="color" formControlName="color"/> 
      <br><div style="color: red" *ngIf="!inputForm.controls['color'].valid && inputForm.controls['color'].dirty && inputForm.controls['color']">
        Not Null
      </div>
    <label>PRICE   :</label>
      <input type="text" id="prices" appNoNull appNoPattern name="prices" formControlName="prices"/>
      <br><div style="color: red" *ngIf="!inputForm.controls['prices'].valid && inputForm.controls['prices'].dirty && inputForm.controls['prices']">
        Not Null || Number Only
      </div>
    <label>TYPE    :</label>
     <input type="text" id="type" appNoNull name="type" formControlName="type"/>
     <br><div style="color: red" *ngIf="!inputForm.controls['type'].valid && inputForm.controls['type'].dirty && inputForm.controls['type']">
      Not Null || Number Only
    </div>
     <br><br>

    <button pButton label="Simpan" class="ui-button-primary" type="button" (click)="saveCar()" [disabled]="!inputForm.valid"></button>&nbsp;
    <button *ngIf="actionState === 'update'" pButton label="Batal" class="ui-button-warning" type="button"
    (click)="clear()">
    </button>
  </form>
</p-dialog>